
<p-dialog [(visible)]="viewDialog" [style]="{width: '70vw'}" header="{{'collaborateurTabPan' | translate}}" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="{{'collaborateurTabPan' | translate}}">
                <div class="grid">
                    <div class="field col-12 md:col-4">
                        <label for="1">{{'Code' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'Code' | translate}}" autofocus  id="1" [(ngModel)]="item.code">
                    </div>
                    <div class="field col-12 md:col-4">
                        <label for="2">{{'Nom' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'Nom' | translate}}" autofocus  id="2" [(ngModel)]="item.nom">
                    </div>
                    <div class="field col-12 md:col-4">
                        <label for="3">{{'Prenom' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'Prenom' | translate}}" autofocus  id="3" [(ngModel)]="item.prenom">
                    </div>
                    <div class="field col-12 md:col-4">
                        <label for="4">{{'Email' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'Email' | translate}}" autofocus  id="4" [(ngModel)]="item.email">
                    </div>
                    <div class="field col-12 md:col-4">
                        <label for="5">{{'Tele' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'Tele' | translate}}" autofocus  id="5" [(ngModel)]="item.tele">
                    </div>
                    <div class="field col-12 md:col-4">
                        <label for="6">{{'Titre' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'Titre' | translate}}" autofocus  id="6" [(ngModel)]="item.titre">
                    </div>
                    <div class="field col-12 md:col-4">
                        <label for="7">{{'Salaire' | translate}}</label>
                        <p-inputNumber class="mb-2 mr-2" id="7" [disabled]="true" placeholder="{{'Salaire' | translate}}" [(ngModel)]="item.salaire"></p-inputNumber>
                    </div>
                </div>
            </p-tabPanel>

        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="grid-footer">
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-outlined" (click)="hideViewDialog()"></button>
            </div>
        </div>
    </ng-template>
</p-dialog>



