<div class="p-px-4 ">
    <br><br>
    <div class="flex flex-column justify-content-center pb-5 mx-auto align-items-center">
        <img src="../../../assets/images/acceuil.png" class="fostrap-logo" /><br>
        <h1 class="heading"> Bienvenue dans votre application </h1>
    </div>
    <div class="grid">
        <div class="field col-12 md:col-3">
        </div>

        <div class="field col-12 md:col-3">
            <p-card (click)="redirectAdmin()" header="Espace Administrateur" class="card"
                    [style]="{'width': '25rem', 'margin-bottom': '2em'}">
                <ng-template pTemplate="header">
                    <img class="img-card" src="../../../assets/images/admin.png">
                </ng-template>
                <p>describe!</p>
            </p-card>
        </div>
        <div class="field col-12 md:col-3">
        </div>
    </div>
</div>
<br><br><br><br>
<app-footer></app-footer>
