        <p-dialog [(visible)]="createDialog" [style]="{width: '70vw'}" header="{{'clientTabPan' | translate}}" [modal]="true" styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">
            <ng-template pTemplate="content" >
                        <p-tabView>
                            <p-tabPanel header="{{'clientTabPan' | translate}}">
                                <div class="grid">

                                                <div class="field col-12 md:col-4">
                                                    <label for="1">{{'clientCode' | translate}}<span style="color: red;">*</span></label>
                                                    <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'clientCode' | translate}}" id="1" [(ngModel)]="item.code"
                                                            [ngClass]="{'ng-invalid ng-dirty' : !validClientCode}"  />
                                                    <small class='p-error' *ngIf='!validClientCode'>Code est obligatoire.</small>
                                                </div>



                                                <div class="field col-12 md:col-4">
                                                    <label for="2">{{'clientNom' | translate}}</label>
                                                    <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'clientNom' | translate}}" id="2" [(ngModel)]="item.nom"
                                                             />
                                                    
                                                </div>



                                                <div class="field col-12 md:col-4">
                                                    <label for="3">{{'clientPrenom' | translate}}</label>
                                                    <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'clientPrenom' | translate}}" id="3" [(ngModel)]="item.prenom"
                                                             />
                                                    
                                                </div>



                                                <div class="field col-12 md:col-4">
                                                    <label for="4">{{'clientAdresse' | translate}}</label>
                                                    <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'clientAdresse' | translate}}" id="4" [(ngModel)]="item.adresse"
                                                             />
                                                    
                                                </div>



                                                <div class="field col-12 md:col-4">
                                                    <label for="5">{{'clientSociete' | translate}}</label>
                                                    <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'clientSociete' | translate}}" id="5" [(ngModel)]="item.societe"
                                                             />
                                                    
                                                </div>



                                                <div class="field col-12 md:col-4">
                                                    <label for="6">{{'clientEmail' | translate}}</label>
                                                    <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'clientEmail' | translate}}" id="6" [(ngModel)]="item.email"
                                                             />
                                                    
                                                </div>



                                                <div class="field col-12 md:col-4">
                                                    <label for="7">{{'clientTele' | translate}}</label>
                                                    <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'clientTele' | translate}}" id="7" [(ngModel)]="item.tele"
                                                             />
                                                    
                                                </div>



                                </div>
                            </p-tabPanel>

                        </p-tabView>

            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="grid-step">
                        <div style="margin-left: auto;">
                            <button pButton pRipple  label="{{'validate' | translate}}"  icon="pi pi-check" style="margin:10px" (click)="save()"></button>
                        </div>
                        <div>
                            <button pButton pRipple  label="{{'cancel' | translate}}" icon="pi pi-times" class="p-button-outlined" (click)="hideCreateDialog()"></button>
                        </div>

                </div>
            </ng-template>



    </p-dialog>
