<div class="layout-footer">
    <div>
        <img src="assets/images/White%20and%20Blue%20Minimalist%20Clean%20Modern%20Technology%20Logo%20(1).png" alt="IRD" />
        <p>Agence de spécialisée dans les services informatiques </p>
    </div>
    <div class="footer-icons">
        <button class="p-link">
            <i class="pi pi-home"></i>
        </button>
        <button class="p-link">
            <i class="pi pi-globe"></i>
        </button>
        <button class="p-link">
            <i class="pi pi-envelope"></i>
        </button>
    </div>
</div>
