<div class="grid">
    <div class="col-12">
        <p-toast></p-toast>
        <div class="card">
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                                        <button pButton pRipple label=" {{'new' | translate}}" icon="pi pi-plus" class="p-button-success mr-2 mb-2" (click)="openCreate('Projet')"></button>
                    <button [disabled]="isSelectionDisabled()" pButton pRipple label=" {{'delete' | translate}}" icon="pi pi-trash" class="p-button-danger mr-2 mb-2" (click)=deleteMultiple()></button>
                    <button pButton pRipple label=" {{'search' | translate}}" icon="pi pi-{{findByCriteriaShow?'angle-down':'angle-right'}}" class="p-button-warning mr-2 mb-2" (click)="this.showSearch()"></button>
                </ng-template>
                <ng-template pTemplate="right">
                    <div class="flex">
                        <p-splitButton label=" {{'export' | translate}}" icon="pi pi-download" styleClass="p-button-help" [model]="excelPdfButons"></p-splitButton>
                    </div>
                </ng-template>

            </p-toolbar>
            <p-toolbar *ngIf="findByCriteriaShow">

                <div class="align-form-search">
                        <span class=" p-float-label mr-3 align-search-items mt-4">
                            <input class="mr-2" pInputText id="1" type="text"  [(ngModel)]="criteria.codeLike">
                            <label for="1">{{'Code' | translate}}</label>
                        </span>
                        <span class=" p-float-label mr-3 align-search-items mt-4">
                            <input class="mr-2" pInputText id="2" type="text"  [(ngModel)]="criteria.libelleLike">
                            <label for="2">{{'Libelle' | translate}}</label>
                        </span>
                        <span class=" p-float-label mr-3 align-search-items mt-4">
                            <p-dropdown [options]="typeProjets" [(ngModel)]="criteria.typeProjet" id="3" [filter]="true"
                                        [showClear]="true"  placeholder="{{'Type projet' | translate}}" optionLabel="libelle">
                            </p-dropdown>
                        </span>
                        <span class=" p-float-label mr-3 align-search-items mt-4">
                            <p-inputNumber class="mr-2" mode="decimal" [(ngModel)]="criteria.budgetMin" id="4-1"></p-inputNumber>
                            <label for="4-1">{{'Budget' | translate}} Min</label>
                        </span>
                       <span class=" p-float-label mr-3 align-search-items mt-4">
                            <p-inputNumber class="mr-2" mode="decimal" [(ngModel)]="criteria.budgetMax" id="4-2"></p-inputNumber>
                            <label for="4-2">{{'Budget' | translate}} Max</label>
                       </span>
                        <span class=" p-float-label mr-3 align-search-items mt-4">
                            <input class="mr-2" pInputText id="5" type="text"  [(ngModel)]="criteria.progressionLike">
                            <label for="5">{{'Progression' | translate}}</label>
                        </span>

                        <span class=" p-float-label mr-3 align-search-items mt-4">
                            <p-calendar class="mr-2" [(ngModel)]="criteria.dateDebutFrom"
                                    id="6-1"
                                    dateFormat="dd-MM-yy"></p-calendar>
                            <label for="6-1">{{'Date debut' | translate}} Min</label>
                        </span>

                         <span class=" p-float-label mr-3 align-search-items mt-4">
                            <p-calendar class="mr-2" [(ngModel)]="criteria.dateDebutTo"
                                    id="6-2"
                                    dateFormat="dd-MM-yy"></p-calendar>
                            <label for="6-2">{{'Date debut' | translate}} Max</label>
                        </span>


                        <span class=" p-float-label mr-3 align-search-items mt-4">
                            <p-calendar class="mr-2" [(ngModel)]="criteria.dateFinEstimeFrom"
                                    id="7-1"
                                    dateFormat="dd-MM-yy"></p-calendar>
                            <label for="7-1">{{'Date fin estime' | translate}} Min</label>
                        </span>

                         <span class=" p-float-label mr-3 align-search-items mt-4">
                            <p-calendar class="mr-2" [(ngModel)]="criteria.dateFinEstimeTo"
                                    id="7-2"
                                    dateFormat="dd-MM-yy"></p-calendar>
                            <label for="7-2">{{'Date fin estime' | translate}} Max</label>
                        </span>


                        <span class=" p-float-label mr-3 align-search-items mt-4">
                            <p-calendar class="mr-2" [(ngModel)]="criteria.dateFinFrom"
                                    id="8-1"
                                    dateFormat="dd-MM-yy"></p-calendar>
                            <label for="8-1">{{'Date fin' | translate}} Min</label>
                        </span>

                         <span class=" p-float-label mr-3 align-search-items mt-4">
                            <p-calendar class="mr-2" [(ngModel)]="criteria.dateFinTo"
                                    id="8-2"
                                    dateFormat="dd-MM-yy"></p-calendar>
                            <label for="8-2">{{'Date fin' | translate}} Max</label>
                        </span>

                        <span class=" p-float-label mr-3 align-search-items mt-4">
                            <p-dropdown [options]="clients" [(ngModel)]="criteria.client" id="11" [filter]="true"
                                        [showClear]="true"  placeholder="{{'Client' | translate}}" optionLabel="code">
                            </p-dropdown>
                        </span>
                        <span class=" p-float-label mr-3 align-search-items mt-4">
                            <p-dropdown [options]="chefProjets" [(ngModel)]="criteria.chefProjet" id="12" [filter]="true"
                                        [showClear]="true"  placeholder="{{'Chef projet' | translate}}" optionLabel="code">
                            </p-dropdown>
                        </span>
                </div>

                <div class="align-search-button">
                    <button pButton pRipple label="{{'validate' | translate}}" icon="pi pi-sort-amount-down" class="p-button-info mr-2" (click)="findPaginatedByCriteria()"></button>
                </div>
            </p-toolbar>


            <p-table #dt [value]="items" [columns]="cols" [rows]="8" [paginator]="false"
                    [globalFilterFields]="['code', 'libelle', 'typeProjetlibelle', 'budget', 'dateDebut', 'dateFinEstime', 'dateFin', 'clientcode', 'chefProjetcode']" [(selection)]="selections"
                    [rowHover]="true" dataKey="id" styleClass="p-datatable-customers"
                    currentPageReportTemplate="{{'Les éléments de {first} à {last} sur {totalRecords} ' | translate}}"
                    [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" selectionMode="multiple">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column flex-row justify-content-between table-header">
                        <h5 class="p-m-0">{{'projetHeader' | translate}}</h5>
                        <span class="p-input-icon-left ml-auto">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" placeholder="{{'searchInput' | translate}}" (input)="dt.filterGlobal($event.target.value, 'contains')"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                                
                        <th pSortableColumn="code">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'Code' | translate}}</span>
                                <p-sortIcon field="code"></p-sortIcon>
                                <p-columnFilter type="text" field="element.code" display="menu" class="ml-auto"></p-columnFilter>
                            </div>
                        </th>
                                
                                
                        <th pSortableColumn="libelle">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'Libelle' | translate}}</span>
                                <p-sortIcon field="libelle"></p-sortIcon>
                                <p-columnFilter type="text" field="element.libelle" display="menu" class="ml-auto"></p-columnFilter>
                            </div>
                        </th>
                                
                                
                        <th pSortableColumn="typeProjet">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'Type projet' | translate}}</span>
                                <p-sortIcon field="typeProjet"></p-sortIcon>
                            </div>
                        </th>
                                
                                
                        <th pSortableColumn="budget">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'Budget' | translate}}</span>
                                <p-sortIcon field="budget"></p-sortIcon>
                            </div>
                        </th>
                                
                                
                        <th pSortableColumn="dateDebut">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'Date debut' | translate}}</span>
                                <p-sortIcon field="dateDebut"></p-sortIcon>
                            </div>
                        </th>
                                
                                
                        <th pSortableColumn="dateFinEstime">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'Date fin estime' | translate}}</span>
                                <p-sortIcon field="dateFinEstime"></p-sortIcon>
                            </div>
                        </th>
                                
                                
                        <th pSortableColumn="dateFin">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'Date fin' | translate}}</span>
                                <p-sortIcon field="dateFin"></p-sortIcon>
                            </div>
                        </th>
                                
                                
                        <th pSortableColumn="client">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'Client' | translate}}</span>
                                <p-sortIcon field="client"></p-sortIcon>
                            </div>
                        </th>
                                
                                
                        <th pSortableColumn="chefProjet">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'Chef projet' | translate}}</span>
                                <p-sortIcon field="chefProjet"></p-sortIcon>
                            </div>
                        </th>
                                
                        <th>Actions</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-element>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="element"></p-tableCheckbox>
                        </td>
                            
                        <td>{{element.code}}</td>
                            
                            
                        <td>{{element.libelle}}</td>
                            
                            
                        <td>{{element.typeProjet?.libelle}}</td>
                            
                            
                        <td>{{element.budget}}</td>
                            
                            
                        <td>{{element.dateDebut | date :'dd/MM/yyyy HH:mm' }}</td>
                            
                            
                        <td>{{element.dateFinEstime | date :'dd/MM/yyyy HH:mm' }}</td>
                            
                            
                        <td>{{element.dateFin | date :'dd/MM/yyyy HH:mm' }}</td>
                            
                            
                        <td>{{element.client?.code}}</td>
                            
                            
                        <td>{{element.chefProjet?.code}}</td>
                            
                        <td>
                            <button pButton pRipple icon="pi pi-pencil"  class="p-button-rounded p-button-success mr-2" (click)="edit(element)"></button>
                            <button pButton pRipple icon="pi pi-list" class="p-button-rounded p-button-info mr-2" (click)="view(element)"></button>
                            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger mr-2" (click)="delete(element)"></button>
                            <button pButton pRipple icon="pi pi-copy" class="p-button-rounded p-button-raised p-button-warning" (click)="duplicate(element)"></button>
                        </td>
                    </tr>
                </ng-template>

                <ng-template pTemplate="summary">
                    <p-paginator  [rows]="10" [totalRecords]="totalRecords" (onPageChange)="onPage($event)"></p-paginator>
                    <div class="p-d-flex p-ai-center p-jc-between">
                        En totale il {{items ? totalRecords == 1 ? 'y a' : 'y a' : 'y a' }} {{items ? totalRecords : 0 }} {{items ? totalRecords == 1 ? 'projet' : 'projets' : 0 }}.
                    </div>
                </ng-template>
            </p-table>
        </div>

        <app-projet-create-admin></app-projet-create-admin>
        <app-projet-edit-admin></app-projet-edit-admin>
        <app-projet-view-admin></app-projet-view-admin>
        <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
    </div>
</div>
